<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2><%= @cocktail.name %></h2>

      <%= simple_form_for(@cocktail) do |f| %>
        <p>
         <%= f.input :name %>
        </p>
        <p>
          <%= f.input :photo %>
        </p>
        <p>
          <%= f.input :photo_cache, as: :hidden %>
        </p>
        <p>
          <%= f.button :submit, class: "btn btn-default" %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center padded">
  <%= link_to "Back", cocktails_path, class: "btn btn-default" %>
</div>
