<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 200, width: 400, crop: :fill %>')">
        <h3 class="text-center card-show"><%= @cocktail.name %></h3>
      </div>
      <ul class="list-unstyled">
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %> : <%= dose.description %> <%= link_to "<i class='fa fa-close'></i>".html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient_id, collection: @ingredients %>
        <%= f.button :submit, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>


<div class="text-center padded">
  <ul class="list-inline list-unstyled">
    <li>
      <%= link_to 'Back', cocktails_path, class: "btn btn-default" %>
    </li>
    <li>
      <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: "btn btn-default" %>
    </li>
    <li>
      <%= link_to 'Delete', cocktail_path(@cocktail),
            class: "btn btn-default",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
</div>



